@media (max-width: 1200px){
    
#container-asientos, #card-asientos{
    width: 115% !important;
    margin: 0;
    padding: 0;
}
}


body {
    background-color: #f8f8f8;
}

.footer-title {
    background-color: #13628b;
    background-image: linear-gradient(315deg, #5cb1dc 0%, #14648d 74%);
    min-height: 40vh;
}

i .footer-icon {
    color: #13628b;
}

.form-control::placeholder {
    font-size: 0.95rem;
    color: #aaa;
    font-style: italic;
}

.form-control.shadow-0:focus {
    box-shadow: none;
}

.bg-gardiente {
    /* background-color: #13618bbe !important; */
    /* background-image: linear-gradient(315deg, #5cb1dc7c 0%, #14648d7c 74%) !important; */
    background-color: #ffffff !important;
    color: #ffffff;
}

/* ********************************
      BARRA DE NAVEGACION DE ADMIN
******************************** */

.nav-item .nav-link {
    color: #2285bb !important;
}

.nav-item .nav-link.disabled {
    color: #7c7c7c !important;
}

.nav-item .nav-link.active {
    color: #1d7caf !important;
    font-weight: bold;
}

/* ****************************************************************
      CONTENIDO DE LA SECCION BODY DE ADMIN
**************************************************************** */

.texto-azul {
    color: #006aa3 !important;
}

.table-title {
    background-color: #ffffff !important;
    color: #0083CA !important;
    font-weight: bold;
}

thead tr th {
    background-color: #fff !important;
    font-weight: bolder !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    border-bottom: 2px solid #e4e4e4 !important;
}

.titulo {
    background-color: #393f44 !important;
    color: #fff;
    font-size: 21px;
    font-weight: 300 !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    border-bottom: 2px solid #e4e4e4 !important;
}

tbody tr th, td {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    border-bottom: 1px solid #e4e4e4 !important;
}

.card {
    box-shadow: 0 0 1px rgb(0 0 0 / 13%), 0 1px 3px rgb(0 0 0 / 20%);
    margin-bottom: 1rem;
}

/* ********************************
        Mensajes
******************************** */

.mensaje-container {
    width: 18%;
    height: 70px;
    left: 78%;
    top: 250px;
    background-color: #ffffff;
    position: fixed;
    border: 1px solid #a7a7a7;
    box-shadow: 7px 9px 17px -8px rgba(0, 0, 0, 0.75);
    z-index: 9999;
    animation-duration: 0.8s;
    animation-iteration-count: 1;
    animation-timing-function: linear;
}

.mensaje-container .icono-mensaje {
    background-size: 100%;
    background-position-y: 56%;
    background-image: url('/aerolinea/resources/images/Iconos/success.png');
}

.mensaje-container .texto-mensaje {
    font-size: 17px;
}

@keyframes mostrar-mensaje {
    0% {
        transform: skew(-53deg) translateX(200%);
        opacity: 0;
    }
    60% {
        transform: translateX(0px);
    }
    62% {
        transform: skew(0deg) translateX(30px);
    }
    70% {
        transform: skew(-5deg);
        opacity: 1;
    }
    80% {
        transform: skew(20deg);
    }
    100% {
        transform: skew(0deg);
    }
}

@keyframes esconder-mensaje {
    30% {
        transform: skew(0deg);
    }
    60% {
        opacity: 1;
    }
    100% {
        transform: skew(-20deg) translate(200%);
        opacity: 0;
    }
}

/* ********************************
    Banner de compra tiquetes
******************************** */

.banner-compra {
    background-color: #002172;
    background-image: url('/aerolinea/resources/images/backgrounds/beachVacation1.jpg');
    background-size: contain;
    background-attachment: fixed;
    height: 26rem;
    display: flex;
    justify-content: center;
    align-items: center;
}

.banner-compra .card {
    position: relative;
    width: 62rem;
    height: 13rem;
    top: 1rem;
    right: 7rem;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 0px 4px 1px black;
}

.banner-compra .card .card-body {
    position: relative;
    width: 61rem;
    max-height: 8rem;
    top: 2rem;
    background-color: #ffffff;
    border-radius: 5px;
}

.banner-compra .card .card-body .form-check {
    width: 16% !important;
}
.banner-compra .card .card-body .form-check {
    width: 17% !important;
}
.banner-compra .card .card-body .input-search {
    width: 30% !important;
}

.banner-compra .card .card-body .btn-search {
    width: 6% !important;
}

.banner-compra .icon-banner {
    color: #3db4c0 !important;
    position: relative;
    right: 2rem;
    bottom: 3rem;
    z-index: 1;
    height: 63px;
    font-weight: bold;
}

.banner-compra .titulo-compra {
    text-shadow: 3px -1px 4px black;
    position: relative;
    left: 12rem;
    bottom: 7.5rem;
    z-index: 1;
    height: 63px;
    font-weight: bold;
    color: #fff;
}

.tabla-vuelos .separate-city {
    line-height: 1;
    width: 112px;
    border-top: 2px solid #00d2e8;
    border-radius: 1px;
    margin: 12px 16px 0;
}

.tabla-vuelos .horario-tabla {
    font-weight: bold;
    font-size: 18px;
    margin-right: 1rem;
}

.tabla-vuelos .duracion-tabla {
    color: #6c757d !important;
    font-size: 18px;
}

.tabla-vuelos .avion-info>span {
    margin-left: 1rem;
}

.text-celeste {
    color: #04b9cc;
}

.btn-outline-celeste {
    border-color: #04b9cc;
    background-color: #ffffff00;
    color: #04b9cc;
}

.btn-outline-celeste:hover {
    background-color: #04b9cc;
    color: #3b3b3b;
    border-color: #3b3b3b;
}

.tabla-vuelos .precio {
    font-size: 25px;
    font-weight: 600;
    color: #636363;
}

.tabla-vuelos .precio-info {
    font-size: 12px;
    font-weight: 100;
    color: #636363;
    margin-bottom: 1rem;
}

.tabla-vuelos .card-info {
    padding: 1.1rem 0px 1.5rem 0px;
    margin-left: 1.5rem;
}

/*-----------------------------------------
                ASIENTOS
-----------------------------------------*/

.asiento {
    margin: 0.2rem;
}

/* width modificado */
.asiento.ocupado {
    color: #e60a0a;
    background-color: #e60a0aff !important;
    border-color: #e60a0a;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: not-allowed;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.asiento.active {
    background-color: #4caf50 !important;
    border-color: #4caf50 !important;
}

.bg-select {
    background-color: #4caf50 !important;
    border-color: #4caf50 !important;
    color: #fff !important;
}

.px-m {
    margin-left: 1px !important;
    margin-right: 1px !important;
}

.px-d {
    margin-left: 0.8rem !important;
    margin-right: 0.7rem !important;
}

.asientos-container {
    padding: 14px;
    max-height: 600px;
    overflow-y: auto;
    overflow-x: hidden;
    box-shadow: 0px 0px 5px 1px #777;
}

.avion-ref {
    background-image: url('/aerolinea/resources/images/utiles/aircraftIcon.png');
    background-size: contain;
    background-repeat: no-repeat;
    height: 200px;
    width: 10rem;
}

.btn-azul-avion {
    background-color: #0d6efd !important;
    border-color: #0d6efd;
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #ffffff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    user-select: none;
    background-color: transparent;
    border: 1px solid transparent;
    padding: .375rem .75rem;
    font-size: 1rem;
    border-radius: .25rem;
    transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.btn-azul-avion:hover {
    background-color: #094fb7 !important;
    border-color: #094fb7;
    color: #fff;
}

.titulo-azul {
    background-color: #044c9c !important;
    color: #fff;
    font-size: 21px;
    font-weight: 300 !important;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
    border-bottom: 2px solid #e4e4e4 !important;
}

.texto-verde {
    color: #4caf50 !important;
}

.container-image-modal {
    padding: 2rem;
}

.container-image-modal .image-modal-avion {
    width: auto;
    height: 118px;
    background-image: url('/aerolinea/resources/images/utiles/aircraft.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.container-image-modal .image-modal-user {
    width: auto;
    height: 118px;
    background-image: url('/aerolinea/resources/images/utiles/userProfile.png');
    background-size: contain;
    background-repeat: no-repeat;
}

.card-compra {
    padding: 8px 0px 8px 0px;
    border: 1px dashed #c5c5c5;
    box-shadow: 0px 0px 6px 1px #fff;
    letter-spacing: 1px;
}


.background-diagonal-container{
    top: 0;
    overflow: hidden;
    height: 1000px;
    width: 100%;
    position: absolute;
    background-color: #3f292900;
    z-index: -1;
}
.background-diagonal{
    width: 119%;
    transform: rotate(-10deg);
    top: -21rem;
    left: -12rem;
    background-color: #13628b;
    background-image: linear-gradient(315deg, #5cb1dc 0%, #14648d 74%);
    box-shadow: 4px -1px 5px 8px #929292;
    height: 79%;
    position: absolute;
}
